
body,html,#root{
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.grid-m{
    grid-template-columns: repeat(8, minmax(20px,120px));
}

a:link{
    text-decoration: none !important;
    text-decoration-color:none !important ;
}